@import "tailwindcss";

@theme {
  --color-primary: #1fa45b;
  --color-secondary: #f7f8fa;
  --color-secondary-300: #868686;
  --color-tertiary-200: #f3f4f6;
  --color-tertiary-300: #e8f0f5;
  --color-tertiary-400: #7e7e7e;
  --color-quaternary: #e2e2e2;
  --color-black: #393939;
  --color-white: #ffffff;
}

@layer base {
  * {
    @apply p-0 m-0 scroll-smooth;
  }
  body {
    @apply bg-secondary text-black;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #c0b9b9;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-baseline {
    @apply flex items-baseline;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .grid-center {
    @apply grid justify-center;
  }
  @keyframes expand {
    0% {
      max-height: 0;
      opacity: 1;
    }
    100% {
      max-height: 200px; /* adjust based on content */
      opacity: 1;
    }
  }

  .animate-expand {
    animation: expand 0.5s ease-in-out forwards;
  }
}
