@import "tailwindcss";

@theme {
  --color-primary: #1fa45b;
  --color-secondary: #f7f8fa;
  --color-tertiary: #e8f0f5;
  --color-gray-200: #f7f8fa;
  --color-black: #393939;
  --color-white: #ffffff;
}

@layer base {
  * {
    @apply p-0 m-0 scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
