@import "tailwindcss";

@theme {
  --color-primary: #1fa45b;
  --color-secondary: #f7f8fa;
  --color-tertiary-200: #f3f4f6;
  --color-tertiary-300: #e8f0f5;
  --color-quaternary: #e2e2e2;
  --color-black: #393939;
  --color-white: #ffffff;
}

@layer base {
  * {
    @apply bg-secondary text-black p-0 m-0 scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-baseline {
    @apply flex items-baseline;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .grid-center {
    @apply grid justify-center;
  }
}
